Repository lkt9899/EnjoyTrip, pull requests merged in 2023-11, with the labels that each got.

#2 핫플레이스 구현
  backend/src/main/java/com/ssafy/attraction/controller/AttractionController.java
  backend/src/main/java/com/ssafy/hotplace/controller/HotPlaceController.java
  backend/src/main/java/com/ssafy/hotplace/model/dao/HotPlaceRepository.java
  backend/src/main/java/com/ssafy/hotplace/model/dto/data/common/HotPlace.java
  backend/src/main/java/com/ssafy/hotplace/model/dto/data/request/HotPlaceRequest.java
  backend/src/main/java/com/ssafy/hotplace/model/dto/data/response/HotPlaceResponse.java
  backend/src/main/java/com/ssafy/hotplace/model/service/HotPlaceService.java
  backend/src/main/resources/mapper/attraction.xml
  backend/src/main/resources/mapper/hotPlace.xml
  backend/src/main/resources/schema/enjoytrip_ddl.sql
Labels: backend, feature

#10 Feature#7
  backend/src/main/java/com/ssafy/member/controller/MemberController.java
  backend/src/main/java/com/ssafy/member/model/dao/MemberRepository.java
  backend/src/main/java/com/ssafy/member/model/dto/Member.java
  backend/src/main/java/com/ssafy/member/model/dto/request/MemberUpdateRequest.java
  backend/src/main/java/com/ssafy/member/model/dto/response/MemberInfoResponse.java
  backend/src/main/java/com/ssafy/member/model/service/MemberService.java
  backend/src/main/java/com/ssafy/member/model/service/MemberServiceImpl.java
  backend/src/main/resources/mapper/member.xml
Labels: backend

#9 Exception Handler 추가
  backend/src/main/java/com/ssafy/global/exception/ControllerAdvice.java
  backend/src/main/java/com/ssafy/global/exception/ErrorCode.java
  backend/src/main/java/com/ssafy/global/exception/GlobalException.java
  backend/src/main/java/com/ssafy/global/exception/dto/GlobalExceptionResponse.java
  backend/src/main/java/com/ssafy/member/controller/MemberController.java
  backend/src/main/java/com/ssafy/member/exception/MemberErrorCode.java
  backend/src/main/java/com/ssafy/member/exception/MemberException.java
  backend/src/main/java/com/ssafy/member/model/dao/MemberRepository.java
  backend/src/main/java/com/ssafy/member/model/dto/MemberLoginRequest.java
  backend/src/main/java/com/ssafy/member/model/dto/data/common/MemberLogin.java
  backend/src/main/java/com/ssafy/member/model/dto/data/request/MemberLoginRequest.java
  backend/src/main/java/com/ssafy/member/model/dto/data/request/MemberUpdateRequest.java
  backend/src/main/java/com/ssafy/member/model/dto/data/response/MemberInfoResponse.java
  backend/src/main/java/com/ssafy/member/model/dto/data/response/MemberLoginResponse.java
  backend/src/main/java/com/ssafy/member/model/service/MemberService.java
  backend/src/main/resources/mapper/member.xml
Labels: backend, feature

#12 무한 스크롤 구현 Feature#11
  backend/src/main/java/com/ssafy/attraction/controller/AttractionController.java
  backend/src/main/java/com/ssafy/attraction/model/dao/AttractionRepository.java
  backend/src/main/java/com/ssafy/attraction/model/dto/QueryParams.java
  backend/src/main/java/com/ssafy/attraction/model/service/AttractionService.java
  backend/src/main/java/com/ssafy/config/CorsConfig.java
  backend/src/main/java/com/ssafy/util/dto/PagingInfo.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/mapper/attraction.xml
  front/src/App.vue
  front/src/api/attraction.js
  front/src/assets/backgroud.jpg
  front/src/assets/background.jpg
  front/src/assets/background1.png
  front/src/assets/images.jpg
  front/src/assets/logo.svg
  front/src/assets/search_icon.png
  front/src/assets/ssafy_logo.png
  front/src/components/main/CardComponent.vue
  front/src/components/main/MainMiddle.vue
  front/src/components/main/MainTop.vue
  front/src/components/main/SearchBar.vue
  front/src/layout/Navbar.vue
  front/src/main.js
  front/src/router/index.js
  front/src/util/http-commons.js
  front/src/views/TheMainView.vue
Labels: backend, feature, frontend

#6 feat: add select statistics
  backend/src/main/java/com/ssafy/attraction/controller/AttractionController.java
  backend/src/main/java/com/ssafy/attraction/model/dao/AttractionRepository.java
  backend/src/main/java/com/ssafy/attraction/model/service/AttractionService.java
  backend/src/main/java/com/ssafy/member/model/dao/MemberRepository.java
  backend/src/main/java/com/ssafy/member/model/service/MemberService.java
  backend/src/main/java/com/ssafy/post/controller/PostController.java
  backend/src/main/java/com/ssafy/post/model/dao/PostRepository.java
  backend/src/main/java/com/ssafy/post/model/service/PostService.java
  backend/src/main/java/com/ssafy/util/controller/UtilController.java
  backend/src/main/java/com/ssafy/util/dto/Statistics.java
  backend/src/main/resources/mapper/attraction.xml
  backend/src/main/resources/mapper/member.xml
  backend/src/main/resources/mapper/post.xml
Labels: backend, feature

#22 API 리팩토링
  backend/src/main/java/com/ssafy/attraction/controller/AttractionController.java
  backend/src/main/java/com/ssafy/attraction/model/dao/AttractionRepository.java
  backend/src/main/java/com/ssafy/attraction/model/service/AttractionService.java
  backend/src/main/java/com/ssafy/config/CorsConfig.java
  backend/src/main/java/com/ssafy/post/controller/PostController.java
  backend/src/main/java/com/ssafy/post/exception/PostErrorCode.java
  backend/src/main/java/com/ssafy/post/exception/PostException.java
  backend/src/main/java/com/ssafy/post/model/dao/PostRepository.java
  backend/src/main/java/com/ssafy/post/model/service/PostService.java
  backend/src/main/java/com/ssafy/util/controller/UtilController.java
  backend/src/main/java/com/ssafy/util/dto/Statistics.java
  backend/src/main/java/com/ssafy/util/model/dto/PagingInfo.java
  backend/src/main/java/com/ssafy/util/model/dto/QueryParams.java
  backend/src/main/java/com/ssafy/util/model/dto/SearchCondition.java
  backend/src/main/java/com/ssafy/util/model/dto/Statistics.java
  backend/src/main/java/com/ssafy/util/model/dto/request/PageRequestDto.java
  backend/src/main/java/com/ssafy/util/model/dto/response/PageResponseDto.java
  backend/src/main/java/com/ssafy/util/model/service/UtilService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/mapper/attraction.xml
  backend/src/main/resources/mapper/post.xml
  backend/src/test/java/com/ssafy/post/model/service/PostServiceTest.java
Labels: backend, refactor

#27 Plan API 구현
  backend/src/main/java/com/ssafy/attraction/model/dto/Attraction.java
  backend/src/main/java/com/ssafy/attraction/model/dto/AttractionInfo.java
  backend/src/main/java/com/ssafy/attraction/model/service/AttractionService.java
  backend/src/main/java/com/ssafy/plan/controller/PlanController.java
  backend/src/main/java/com/ssafy/plan/exception/PlanErrorCode.java
  backend/src/main/java/com/ssafy/plan/exception/PlanException.java
  backend/src/main/java/com/ssafy/plan/model/dao/PlanRepository.java
  backend/src/main/java/com/ssafy/plan/model/dto/Plan.java
  backend/src/main/java/com/ssafy/plan/model/dto/common/PlanDetail.java
  backend/src/main/java/com/ssafy/plan/model/dto/common/PlanDto.java
  backend/src/main/java/com/ssafy/plan/model/dto/request/PlanDtoRequest.java
  backend/src/main/java/com/ssafy/plan/model/dto/response/PlanDtoResponse.java
  backend/src/main/java/com/ssafy/plan/model/service/PlanService.java
  backend/src/main/resources/mapper/attraction.xml
  backend/src/main/resources/mapper/plan.xml
  backend/src/main/resources/schema/enjoytrip_ddl.sql
Labels: backend, feature

#29 게시판 화면 & no- offset 페이징 Feature#16
  backend/src/main/java/com/ssafy/attraction/controller/AttractionController.java
  backend/src/main/java/com/ssafy/post/controller/PostController.java
  backend/src/main/java/com/ssafy/post/model/dao/PostRepository.java
  backend/src/main/java/com/ssafy/post/model/dto/response/PostResponse.java
  backend/src/main/java/com/ssafy/post/model/service/PostService.java
  backend/src/main/java/com/ssafy/util/model/dto/PagingInfo.java
  backend/src/main/java/com/ssafy/util/model/dto/request/PageRequestDto.java
  backend/src/main/java/com/ssafy/util/model/dto/response/PageResponseDto.java
  backend/src/main/resources/mapper/attraction.xml
  backend/src/main/resources/mapper/post.xml
  backend/src/test/java/com/ssafy/post/model/dao/PostRepositoryTest.java
  backend/src/test/java/com/ssafy/post/model/service/PostServiceTest.java
  frontend/src/App.vue
  frontend/src/api/board.js
  frontend/src/components/Home/MainMiddle.vue
  frontend/src/components/board/BoardList.vue
  frontend/src/components/board/item/BoardListItem.vue
  frontend/src/router/index.js
  frontend/src/util/http-commons.js
  frontend/src/views/BoardView.vue
  frontend/src/views/Login.vue
  frontend/src/views/LoginView.vue
  frontend/src/views/Register.vue
  frontend/src/views/SignUpView.vue
  frontend/src/views/TheMemberView.vue
Labels: feature, frontend

#31 게시판 상세보기 버그 수정 Feature#30
  backend/src/main/java/com/ssafy/global/BaseTimeEntity.java
  backend/src/main/java/com/ssafy/post/model/dto/data/PostRequest.java
  backend/src/main/resources/mapper/post.xml
Labels: backend, fix

#32 게시글 - 상세보기, 수정, 삭제 구현 및 bootstrap-vue-next 설정 추가 Feature#30
  backend/src/main/java/com/ssafy/attraction/controller/AttractionController.java
  backend/src/main/java/com/ssafy/post/controller/PostController.java
  backend/src/main/java/com/ssafy/post/model/dto/request/PostRequest.java
  backend/src/main/java/com/ssafy/post/model/service/PostService.java
  front/package-lock.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/board.js
  frontend/src/components/board/BoardList.vue
  frontend/src/components/board/BoardView.vue
  frontend/src/components/board/item/BoardFormItem.vue
  frontend/src/components/board/item/BoardListItem.vue
  frontend/src/router/index.js
  frontend/src/views/BoardDetail.vue
  frontend/src/views/BoardModify.vue
  frontend/src/views/BoardWrite.vue
  frontend/src/views/Register.vue
  frontend/vite.config.js
Labels: feature, frontend

#28 Plan 화면 구현
  backend/src/main/java/com/ssafy/attraction/controller/AttractionController.java
  backend/src/main/java/com/ssafy/map/controller/MapController.java
  backend/src/main/java/com/ssafy/map/model/dao/MapRepository.java
  backend/src/main/java/com/ssafy/map/model/dto/LocationCodeDto.java
  backend/src/main/java/com/ssafy/map/model/service/MapService.java
  backend/src/main/java/com/ssafy/util/model/dto/PagingInfo.java
  backend/src/main/resources/mapper/attraction.xml
  backend/src/main/resources/mapper/map.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/api/map.js
  frontend/src/components/Home/CardComponent.vue
  frontend/src/components/attraction/attractionMain.vue
  frontend/src/components/common/VSelect.vue
  frontend/src/css/quasar-variables.sass
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/views/AttractionView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/PlanView.vue
  frontend/vite.config.js
Labels: feature, frontend

#34 feat: attraction_info title 컬럼 괄호 파싱
  backend/src/main/java/com/ssafy/post/model/dao/PostRepository.java
  backend/src/main/java/com/ssafy/post/model/service/PostService.java
  backend/src/main/resources/mapper/post.xml
  backend/src/main/resources/schema/enjoytrip_ddl.sql
  frontend/src/components/layout/NavBar.vue
Labels: backend

#44 feat : 메인 화면 - 통계데이터 프론트 연동 완료
  frontend/src/api/util.js
  frontend/src/components/Home/MainData.vue
Labels: frontend

#48 Feature#45
  backend/src/main/java/com/ssafy/attraction/controller/AttractionController.java
  backend/src/main/java/com/ssafy/attraction/model/dao/AttractionRepository.java
  backend/src/main/java/com/ssafy/attraction/model/service/AttractionService.java
  backend/src/main/java/com/ssafy/util/model/dto/request/MainQueryParams.java
  backend/src/main/java/com/ssafy/util/model/dto/request/RequestPosition.java
  backend/src/main/resources/mapper/attraction.xml
  frontend/src/api/attraction.js
  frontend/src/components/Home/GeoLocation.vue
  frontend/src/components/Home/MainData.vue
  frontend/src/components/Home/MainMiddle.vue
Labels: backend, feature, frontend

#47 핫 플레이스 구현
  backend/src/main/java/com/ssafy/hotplace/controller/HotPlaceController.java
  backend/src/main/java/com/ssafy/hotplace/model/dao/HotPlaceRepository.java
  backend/src/main/java/com/ssafy/hotplace/model/dto/data/common/HotPlace.java
  backend/src/main/java/com/ssafy/hotplace/model/dto/data/response/HotPlaceResponse.java
  backend/src/main/java/com/ssafy/hotplace/model/service/HotPlaceService.java
  backend/src/main/resources/mapper/hotPlace.xml
  frontend/src/api/hotplace.js
  frontend/src/components/Home/MainMiddle.vue
  frontend/src/components/attraction/attractionMain.vue
  frontend/src/components/common/QCardComponent.vue
  frontend/src/components/common/SearchLocation.vue
  frontend/src/router/index.js
  frontend/src/views/HotPlaceView.vue
  frontend/src/views/PlanView.vue
Labels: backend, feature, frontend

#50 userInfo pinia 적용
  backend/src/main/java/com/ssafy/member/exception/MemberErrorCode.java
  frontend/src/App.vue
  frontend/src/components/Home/CardComponent.vue
  frontend/src/components/Home/MainData.vue
  frontend/src/components/Home/MainMiddle.vue
  frontend/src/components/Home/MainView.vue
  frontend/src/components/Home/SearchBar.vue
  frontend/src/components/attraction/QAttractionCard.vue
  frontend/src/components/attraction/QSideList.vue
  frontend/src/components/attraction/attractionMain.vue
  frontend/src/components/board/item/BoardFormItem.vue
  frontend/src/components/common/QCardComponent.vue
  frontend/src/components/common/SearchLocation.vue
  frontend/src/components/common/VKakaoMap.vue
  frontend/src/components/layout/MyFooter.vue
  frontend/src/components/layout/NavBar.vue
  frontend/src/components/member/Register.vue
  frontend/src/router/index.js
  frontend/src/stores/member.js
  frontend/src/views/Board.vue
  frontend/src/views/BoardView.vue
  frontend/src/views/BoardWrite.vue
  frontend/src/views/Login.vue
  frontend/src/views/LoginView.vue
Labels: backend, feature, frontend

#53 feat : add write plan api
  frontend/src/api/plan.js
  frontend/src/components/attraction/QSideList.vue
  frontend/src/components/plan/QPlanForm.vue
Labels: backend, feature, frontend

#54 feat : board access control
  frontend/src/components/board/BoardList.vue
  frontend/src/components/board/item/BoardFormItem.vue
  frontend/src/views/BoardDetail.vue
  frontend/src/views/BoardView.vue
Labels: backend, feature, frontend
